body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card {
    background: #C4D6B0;
    justify-content: center;
    padding: 20px;
    display: flex;
    margin: 0 auto;
    text-align: center;
    border-bottom: solid 5px #264422;
    width:400px;
    

}
.border-blue{ /*utility class */
    border: 2px dotted blue ;

}
.image {
    width: 150px;
    margin-right: 10px;
    margin-top: 22px;
    margin-bottom: auto;

}